/* Basic Style */
body {
  background: #3498db; /* Vibrant blue */
  color: #333;
  font-family: 'Lato', sans-serif;
}

.container {
  display: block;
  width: 500px;
  margin: 50px auto 0;
}

ul {
  margin: 0;
  padding: 0;
}

li * {
  float: left;
}

li,
h3 {
  clear: both;
  list-style: none;
}

input,
button {
  outline: none;
}

button {
  background-color: #f39c12; /* Bright orange */
  border: 0;
  color: #fff;
  font-size: 15px;
  width: 100px;
  margin: 10px 0 0;
  font-family: 'Lato', sans-serif;
  cursor: pointer;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #e67e22; /* Darker orange */
}

/* Heading */
h3,
label[for="new-task"] {
  color: #fff; /* White */
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #fff; /* White */
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}

input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 38px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: 'Lato', sans-serif;
  color: #333;
}

input[type="text"]:focus {
  color: #333;
  border-color: #f39c12; /* Bright orange */
}

.middle {
  text-align: center;
}

/* New Task */
label[for="new-task"] {
  display: block;
  margin: 0 0 20px;
}

input#new-task {
  float: right;
  width: 318px;
}

/* Task list */
li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}

li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 4px;
}

li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
  color: #333;
}

li > input[type="text"] {
  width: 226px;
  font-size: 16px;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 5px;
}

li > .delete:hover {
  color: #e74c3c; /* Red */
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
ul li input[type="text"] {
  display: none;
}

ul li.editMode input[type="text"] {
  display: block;
}

ul li.editMode label {
  display: none;
}
